<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container small-container">
        <h1>🔒 Cambiar Contraseña</h1>
        <form action="/change-password" method="post">
            <input class="input-field" type="password" name="old_password" placeholder="Contraseña Actual" required><br><br>
            <input class="input-field" type="password" name="new_password" placeholder="Nueva Contraseña" required><br><br>
            <button type="submit" class="button">Actualizar</button>
        </form>
        <br>
        <a href="/profile" class="small-button">🏠 Volver al Perfil</a>
    </div>
</body>
</html>

